* {
  font-family: "Inter Variable";
  margin: 0;
  padding: 0;
}

.emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    sans-serif;
  font-size: 1em;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: $c-background;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto $s-16;

  @media only screen and (min-width: 768px) {
    margin: auto $s-56;
  }
}

.page-content {
  padding-bottom: 2.5rem;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid $c-light-gray;
  margin: 1em 0;
  padding: 0;
}
