.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-weight: $fw-regular;
  padding: $s-16 0 $s-16 0;
  font-weight: $fw-light;
  color: $c-black;
  font-size: $s-14;

  &__text {
    display: flex;
    font-size: $s-10;
    color: $c-black;
    gap: $s-6;
    align-items: center;

    @media only screen and (min-width: 768px) {
      font-size: $s-12;
    }
  }

  &__circle {
    height: $s-8;
    width: $s-8;
    background-color: #70cd3e;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #a8f67e;
    z-index: 999;
    position: relative;
  }

  &__heartbeat {
    position: absolute;
    width: fit-content;
    background-color: #dffbd0;
    border-radius: 40px;
    height: $s-12;
    width: $s-12;
    opacity: 0.75;
    animation: ping 1s cubic-bezier(0, 0, 1, 1) infinite;
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(1.7);
      opacity: 0;
    }
  }
}

.scroller {
  max-width: 100%;
  font-size: $s-16 !important;
  border-top: 1px solid $c-light-gray;
  color: $c-dark-gray;

  &:hover {
    color: $c-black;
  }
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
