.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: $fw-regular;
  padding: $s-18 $s-40;
  font-size: $s-14;
  border-top: 1px solid $c-light-gray;

  &__text {
    display: flex;
    font-size: $s-10;
    color: $c-gray;
    gap: $s-6;
    align-items: center;

    @media only screen and (min-width: 768px) {
      font-size: $s-12;
    }
  }
}
