.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: $s-8;
  padding: $s-20 $s-32;
  font-size: $s-16;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    padding: $s-20 $s-40;
  }

  a {
    text-decoration: none;
    color: $c-black;
  }

  &__name {
    color: $c-black;
  }

  &__role {
    margin-left: $s-4;
    color: $c-gray;
  }

  &__navigation {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $s-14;
  }

  &__arrow {
    height: $s-12;
    width: $s-12;
  }

  &__resume {
    border: 1px solid $c-black;
    font-size: $s-14;
    border-radius: $s-24;
    padding: $s-4 $s-6;
    gap: $s-2;
    background-color: transparent;
    cursor: pointer;

    &--scale {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
