.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: $s-8;
  padding: $s-20 $s-32;
  font-size: $s-14;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    padding: $s-20 $s-40;
  }

  a {
    text-decoration: none;
    color: $c-black;

    &:hover {
      color: $c-gray;
    }
  }

  &__home {
    font-size: $s-14;
  }

  &__navigation {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $s-10;
  }

  &__arrow {
    height: $s-12;
    width: $s-12;
  }

  &__resume {
    border: 1px solid $c-black;
    border-radius: $s-24;
    padding: $s-4 $s-6;
    gap: $s-2;
    background-color: transparent;
    cursor: pointer;

    &--scale {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
