.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $s-20 $s-40;
  font-size: $s-14;
  border-bottom: 1px solid $c-light-gray;

  a {
    text-decoration: none;
    color: $c-black;

    &:hover {
      color: $c-gray;
    }
  }

  &__home {
    font-size: $s-14;
  }

  &__navigation {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $s-10;
  }

  &__arrow {
    height: $s-12;
    width: $s-12;
  }

  &__resume {
    border: 1px solid $c-black;
    border-radius: $s-24;
    padding: $s-4 $s-6;
    // display: flex;
    // flex-direction: row;
    // justify-content: end;
    // align-items: center;
    gap: $s-2;
    background-color: transparent;
    cursor: pointer;

    &--scale {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
