.home {
  display: flex;
  flex-direction: column;
  gap: $s-72;
  margin: 0px 0px auto 0px;
  height: 100%;
  color: $c-black;

  @media only screen and (min-width: 768px) {
    gap: $s-96;
  }

  &__image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;

    @media only screen and (min-width: 768px) {
      right: 0;
      top: 0px;
      width: auto;
      height: 100vh;
    }
  }

  &__shape-container {
    display: inline-block;
    position: relative;
  }

  &__shape {
    height: $s-96;
    width: auto;

    &--02 {
      left: $s-40;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    height: 100%;
    padding-top: $s-24;

    @media only screen and (min-width: 768px) {
      padding-top: $s-56;
    }
  }

  &__introduction {
    display: flex;
    flex-direction: column;
    gap: $s-16;
    width: 100%;
    margin-bottom: $s-40;

    &--top {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: $s-24;
      align-items: center;
    }
  }

  &__role {
    font-size: $s-24;
    font-weight: $fw-regular;
    line-height: 1.5;
    color: $c-dark-gray;

    @media only screen and (min-width: 768px) {
      font-size: $s-20;
    }
  }

  &__presentation-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: $s-16;
  }

  &__name-header {
    color: $c-black;
    font-size: $s-16;
    font-size: $fw-regular;
  }

  &__job {
    color: $c-black;
    font-size: $s-40;
    font-weight: $fw-medium;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    gap: $s-4;
    flex-wrap: wrap;
  }

  &__mockup-container {
    display: none;
    width: 100%;
    height: auto;

    @media only screen and (min-width: 640px) {
      display: flex;
      justify-content: flex-end;
      height: 224px;
    }
  }

  &__mockup {
    width: 100%;
    border: 1px solid $c-gray;
    border-radius: 12px;

    @media only screen and (min-width: 640px) {
      justify-content: flex-end;
      height: 200px;
    }

    @media only screen and (min-width: 1024px) {
      justify-content: flex-end;
      height: 224px;
    }
  }

  &__project-images {
    display: flex;
    flex-direction: column;
    gap: $s-16;
    justify-content: space-between;

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__project-image {
    display: flex;
    flex-direction: column;
    gap: $s-8;
    width: 100%;
    height: auto;
    color: $c-dark-gray;
    font-weight: $fw-light;
    font-size: $s-14;

    &:hover {
      opacity: 0.8;
    }
  }
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
}

.parent div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.child2 {
  img {
    padding-left: 70px;
  }
}
