.project {
  &__case-study {
    display: flex;
    flex-direction: column;
    gap: $s-14;
  }

  &__content {
    color: $c-dark-gray;
    width: 100%;
    line-height: 130%;

    @media only screen and (min-width: 1024px) {
      width: 50%;
    }
  }

  &__introduction {
    display: flex;
    flex-direction: row;
    gap: $s-24;
    color: $c-black;
    margin-bottom: $s-16;
  }

  &__title {
    font-size: $s-14;
    font-weight: $fw-medium;
    color: $c-black;
    line-height: 100%;
  }

  &__subtitle {
    font-size: $s-14;
    font-weight: $fw-medium;
    color: $c-black;
  }

  &__text {
    font-size: $s-14;
    font-weight: $fw-regular;
  }

  &__image-medium {
    width: 70%;
    height: auto;
  }

  &__image-large {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__section-content {
    color: $c-gray;
    font-weight: $fw-regular;
    font-size: $s-14;
  }
}
