.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $s-16;
  width: fit-content;
  padding: $s-2 $s-8;
  font-size: $s-14;

  &__filled {
    background-color: $c-light-beige;
    border: 1px solid $c-gray;
    color: $c-black;
  }

  &__outlined {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: $s-16;
    border: 1px solid $c-light-gray;
    color: $c-dark-gray;
  }
}
