.cv {
  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 56px;
  }

  &__right {
    width: 50%;
  }

  &__left {
    text-align: end;
    width: 50%;
  }

  &__title {
    margin-top: 56px;
    font-size: 12px;
    margin-bottom: 24px;
  }

  &__year {
    font-size: 12px;
    margin-bottom: 0 !important;
  }

  &__position {
    font-size: 16px;
    margin-bottom: 0 !important;
  }

  &__place {
    font-size: 12px;
  }

  &__title:first-child {
    margin-top: 0;
  }

  &__link {
    color: #333333;
    cursor: pointer;
  }

  &__link:hover {
    color: #333333;
  }
}
