.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  color: $c-primary;
  font-size: $s-14;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
