.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $s-8;
  width: fit-content;
  padding: $s-2 $s-8;

  &__filled {
    background-color: $c-foam;
    color: $c-black;
  }

  &__outlined {
    border: 1px solid $c-black;
    color: $c-black;
  }
}
