.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $s-8;
  width: fit-content;
  padding: 0 $s-6;

  &__filled {
    background-color: $c-primary;
    color: $c-white;
  }

  &__outlined {
    border: 1px solid $c-primary;
    color: $c-primary;
  }
}
