<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link href="../assets/index.css" rel="stylesheet" type="text/css" />
    <link href="../assets/cv.css" rel="stylesheet" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="index__header">
      <a href="index.html" class="index__presentation">
        Rafaela Silva - UX/UI Designer
      </a>
      <div class="index__menu">
        <a href="index.html">HOME</a>
        <a href="about.html">ABOUT</a>
        <a href="">WORK</a>
        <a href="cv.html">CV</a>
      </div>
    </div>
    <div class="cv__main">
      <div class="cv__right">
        <div class="cv__title">WORK</div>
        <div class="cv__">
          <p class="cv__year">2019-present</p>
          <p class="cv__position">UX/UI Designer [at] The Loop co.</p>
          <p class="cv__place">Coimbra</p>
        </div>
        <div>
          <p class="cv__year">2017-present</p>
          <p class="cv__position">Graphic Designer [at] Capivara Azul</p>
          <p class="cv__place">Guimarães</p>
        </div>
        <div>
          <p class="cv__year">2018-2019</p>
          <p class="cv__position">
            Graphic Designer [at] JEST - Junior Entreprise for Science and
            Technology
          </p>
          <p class="cv__place">Coimbra</p>
        </div>
        <div>
          <p class="cv__year">2018-2019</p>
          <p class="cv__position">
            Graphic Designer [at] Núcleo de Estudantes de Informática da
            Associação Académica de Coimbra
          </p>
          <p class="cv__place">Coimbra</p>
        </div>
        <div>
          <p class="cv__year">2017</p>
          <p class="cv__position">
            Production Assistant [at] FEST - New Directors | New Films Festival
          </p>
          <p class="cv__place">Espinho</p>
        </div>

        <div class="cv__title">EDUCATION</div>
        <div>
          <p class="cv__year">2021-present</p>
          <p class="cv__position">Google UX Design Professional Certificate</p>
          <p class="cv__place">Google - Coursera</p>
        </div>
        <div>
          <p class="cv__year">2021</p>
          <p class="cv__position">UX Foundations</p>
          <p class="cv__place">EDIT - Disruptive Digital Education</p>
        </div>
        <div>
          <p class="cv__year">2017-2019</p>
          <p class="cv__position">Master in Design and Multimedia</p>
          <p class="cv__place">Universidade de Coimbra</p>
          <p class="cv__place">
            (Academic groups and activities: Núcleo de Estudantes de Informática
            da Associação Académica de Coimbra; Grupo Ecológico da Associação
            Académica de Coimbra)
          </p>
        </div>
        <div>
          <p class="cv__year">2013-2015</p>
          <p class="cv__position">Degree in Communication Sciences</p>
          <p class="cv__place">Universidade do Minho</p>
        </div>

        <div class="cv__title">FOR FUN</div>
        <div>
          <p class="cv__year">2021</p>
          <p class="cv__position">Best Pitch</p>
          <p class="cv__place">Shift Appens 2021</p>
        </div>
        <div>
          <p class="cv__year">2021</p>
          <p class="cv__position">3rd place</p>
          <p class="cv__place">HeartBits</p>
        </div>
        <div>
          <p class="cv__year">2019</p>
          <p class="cv__position">Most Promising Idea</p>
          <p class="cv__place">Shift Appens 2019</p>
        </div>
      </div>
      <div class="cv__left">
        <span> Or you can download it <a class="cv__link">here</a> :) </span>
      </div>
    </div>
  </body>
</html>
