<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link href="../assets/index.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body class='index'>
        <div class='index__header'> 
            <a href='index.html' class='index__presentation'> Rafaela Silva - UX/UI Designer </a>
            <div class='index__menu'>
                <a href=''>HOME</a>
                <a href='about.html'>ABOUT</a>
                <a href=''>WORK</a>
                <a href='cv.html'>CV</a>
            </div>
        </div>
        <div class='index__main'>
            <div class='index__main-top'>
                <span> UX/UI Designer at The Loop co.  </span>
                </br>
                <span> Currently based in Coimbra, Portugal. </span>
            </div>
            <div class='index__main-bottom'>
                <span> 
                Empathy and eagerness to learn are my *clean* energy suppliers 🌊 
                </br>
                Working <span class='index__main-bottom--line'>(and dreaming)</span> everyday to contribute to an improved society through design and technology. </span>
            </div>
        </div>
        <div class='index__footer'>
            <div class='index__contacts'> 
                <span> [at]rafaeladesign </span>
                <span> rafls.rs[at]gmail.com </span>
            </div>
            <div class='index__copyright'> Designed and developed w/love by RS</div>
        </div>
    </body>
</html>