@font-face {
    font-family: 'Neue Machina';
    src: url(NeueMachina-Regular.otf);
}

* {
    font-family: 'Neue Machina';
}

.index {
    height: 100%;
    width: 100%;
}

.index__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    border-bottom: 0.5px solid #333333;
}

.index__presentation {
    font-size: 16px;
    text-decoration: none;
    color: #333333;
}

.index__presentation:hover {
    color: #333333;
}

.index__menu a {
        margin-right: 24px;
        text-decoration: none;
        color: #333333;
}

.index__menu a:hover {
    text-decoration: underline;
    color: #333333;
}

.index__main {
    max-width: 580px;
    margin: 212px 128px auto auto;
}

.index__main-top {
    margin-bottom: 32px;
}

.index__main-bottom--line {
    text-decoration: line-through;
}

.index__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 32px;
}

.index__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

.index__copyright {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 12px;
}

